<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mountain Travel</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/main.css">
  <link rel="stylesheet" href="stylesheets/tours.css">
</head>
<body>
  <!-- Forked from a template on Tutorialzine: https://tutorialzine.com/2016/06/freebie-landing-page-template-with-flexbox -->
  <header>
      <a href="/"><h2>Mountain Travel</h2></a>
      <nav>
          <li><a href="/tours">Tours</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
      </nav>
  </header>
  <section class="contact-tours">
      <div class="banner-image" style="background-image: url(data/img/contact.jpg);" ></div>
      <div class="banner-content">
          <h1>Contact Us</h1>
          <h3>Get in contact with us to talk about our world class tours</h3>
      </div>
  </section>
  <section>
    <h3 class="title">Phone:</h3>
    <p>(316) 213-6004</p>
    <hr>
  </section>
  <footer>
      <p>Images courtesy of <a href="http://unsplash.com/">unsplash</a></p>
      <ul>
          <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
          <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram fa-2x"></i></a></li>
          <li><a href="#"><i class="fab fa-snapchat-square fa-2x"></i></a></li>
      </ul>
  </footer>
  </body>
</html>