<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mountain Travel</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/main.css">
  <link rel="stylesheet" href="stylesheets/tours.css">
</head>
<body>
  <!-- Forked from a template on Tutorialzine: https://tutorialzine.com/2016/06/freebie-landing-page-template-with-flexbox -->
  <header>
      <a href="/"><h2>Mountain Travel</h2></a>
      <nav>
          <li><a href="/tours">Tours</a></li>
          <li><a href="#">About</a></li>
          <li><a href="/contact">Contact</a></li>
      </nav>
  </header>
  <section class="hero-tours">
      <div class="banner-image" style="background-image: url(data/img/mountain4.jpg);" ></div>
      <div class="banner-content">
          <h1>Top Tours</h1>
          <h3>See our world-class adventures, all inclusive.</h3>
          <a href="/contact" class="btn">Contact Us</a>
      </div>
  </section>
  <section class="tours">
    <h3 class="title">Guided Tours</h3>
    <p>Our guided tours feature single-day and multiple-day trips with food and water supplied. You just have to bring your pack and be ready for an adventure.</p>
    <hr>
    <ul class="grid">
      <li class="small" style="background-image: url(data/img/guided1.jpg);"></li>
      <li class="large" style="background-image: url(data/img/guided2.jpg);"></li>
      <li class="large" style="background-image: url(data/img/guided3.jpg);"></li>
      <li class="large" style="background-image: url(data/img/guided4.jpg);"></li>
      <li class="small" style="background-image: url(data/img/guided5.jpg);"></li>
      <li class="small" style="background-image: url(data/img/mountain2.jpg);"></li>
    </ul>
  </section>
  <section class="tours">
    <h3 class="title">Photo Tours</h3>
    <p>Our photo tours feature a full day ride on one of our top-tier tour buses through some premier photography landscapes. Don't worry if you don't have a great camera. We have plenty to rent so you can show off your photo skills to your friends.</p>
    <hr>
    <ul class="grid">
      <li class="small" style="background-image: url(data/img/photo1.jpg);"></li>
      <li class="large" style="background-image: url(data/img/photo2.jpg);"></li>
      <li class="large" style="background-image: url(data/img/photo4.jpg);"></li>
      <li class="small" style="background-image: url(data/img/photo5.jpg);"></li>
    </ul>
  </section>
  <section class="tours">
    <h3 class="title">Bicycle Tours</h3>
    <p>Our bicycle tour feature single or multi-day trips through rugged and not-so rugged terrian, it's up to you! We have plenty of trails and rental bikes to choose from. So be prepared for sore legs and plenty of memories.</p>
    <hr>
    <ul class="grid">
      <li class="small" style="background-image: url(data/img/bike1.jpg);"></li>
      <li class="large" style="background-image: url(data/img/bike2.jpg);"></li>
      <li class="large" style="background-image: url(data/img/bike4.jpg);"></li>
      <li class="small" style="background-image: url(data/img/bike5.jpg);"></li>
    </ul>
  </section>
  <section class="tours">
    <h3 class="title">Race Tours</h3>
    <p>Competitive spirit? We have plenty of race options to choose from. Be the first to summit, or reach the hidden gem destination on our mountain trek races.</p>
    <hr>
    <ul class="grid">
      <li class="small" style="background-image: url(data/img/race1.jpg);"></li>
      <li class="large" style="background-image: url(data/img/race2.jpg);"></li>
      <li class="large" style="background-image: url(data/img/race3.jpg);"></li>
      <li class="small" style="background-image: url(data/img/race5.jpg);"></li>
    </ul>
  </section>
  <footer>
      <p>Images courtesy of <a href="http://unsplash.com/">unsplash</a></p>
      <ul>
          <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
          <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram fa-2x"></i></a></li>
          <li><a href="#"><i class="fab fa-snapchat-square fa-2x"></i></a></li>
      </ul>
  </footer>

  </body>
  </html>